/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/methylarray -profile test,docker --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input    = params.pipelines_testdata_base_path + 'methylarray/samplesheet/samplesheet_test.tsv'
    idat_dir = params.pipelines_testdata_base_path + 'methylarray/idat/'
    meta_file = params.pipelines_testdata_base_path + 'methylarray/metadata/meta_test.csv'

    // Groups for EWAS filtering (required for validation)
    keep_groups          = 'CONTROL,CCA,PSC,GBC'

    // Disable slow optional steps for minimal test
    run_dmp              = false
    run_dmr              = false
    run_champ_svd        = false
    run_covariate_pca    = false
    do_estimate_cellcomp = false
}
