/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/methylarray -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '16.GB'
    max_time   = '6.h'

    // Input data
    input           = "https://raw.githubusercontent.com/ajandria/test-datasets/refs/heads/methylarray/testdata/test/GSE43976/input_test.csv"
    sample_metadata = "https://raw.githubusercontent.com/ajandria/test-datasets/refs/heads/methylarray/testdata/test/GSE43976/extensive_metadata.csv"
    bs_genome_path  = "https://raw.githubusercontent.com/ajandria/test-datasets/aecaea4cc48ce3004473cf3b2b9ea3c8595e50c6/testdata/test/GSE43976/genome_bs/hg19.tar.gz"

    // Test profile parameters
    find_dmrs             = false
    adjust_batch_effect   = false
    xreactive_chr_targets = '3'
}
